<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Car Rental</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        /* Custom CSS */
    </style>
</head>
<body>
    <!-- Responsive navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="http://127.0.0.1:8000/rental/">CarRental</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/rental/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="py-5">
        <div class="container">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">Car Rental</h1>
                    <p class="fs-4">Wybierz swój samochód</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="pt-4">
        <div class="container">
            <!-- Page Features -->
            <div class="row row-cols-1 row-cols-md-3 g-4">
                 <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-car-front-fill"></i></div>
                        <h2 class="fs-4 fw-bold">Audi A3</h2>
                        <img src="'Audi.jpg'" class="img-fluid" alt="Audi A3">
                        <div class="mt-3">
                            <a class="btn btn-primary" href="http://127.0.0.1:8000/rental/car/AudiA3" role="button"><i class="bi bi-file-bar-graph-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-car-front-fill"></i></div>
                            <h2 class="fs-4 fw-bold">Ford Focus RS</h2>
                            <img src="rs.jpg" class="img-fluid" alt="Ford Focus RS">
                            <div class="mt-3">
                                <a class="btn btn-primary" href="#" role="button"><i class="bi bi-file-bar-graph-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-car-front-fill"></i></div>
                            <h2 class="fs-4 fw-bold">KIA Stinger</h2>
                            <img src="kia.jpg" class="img-fluid" alt="KIA Stinger">
                            <div class="mt-3">
                                <a class="btn btn-primary" href="#" role="button"><i class="bi bi-file-bar-graph-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-car-front-fill"></i></div>
                            <h2 class="fs-4 fw-bold">Mercedes G63 AMG</h2>
                            <img src="kia.jpg" class="img-fluid" alt="KIA Stinger">
                            <div class="mt-3">
                                <a class="btn btn-primary" href="#" role="button"><i class="bi bi-file-bar-graph-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-car-front-fill"></i></div>
                            <h2 class="fs-4 fw-bold">Koenigsegg Jesko</h2>
                            <img src="kia.jpg" class="img-fluid" alt="KIA Stinger">
                            <div class="mt-3">
                                <a class="btn btn-primary" href="#" role="button"><i class="bi bi-file-bar-graph-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-car-front-fill"></i></div>
                            <h2 class="fs-4 fw-bold">Toyota Camry</h2>
                            <img src="kia.jpg" class="img-fluid" alt="KIA Stinger">
                            <div class="mt-3">
                                <a class="btn btn-primary" href="#" role="button"><i class="bi bi-file-bar-graph-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-car-front-fill"></i></div>
                            <h2 class="fs-4 fw-bold">BMW M3 Touring</h2>
                            <img src="kia.jpg" class="img-fluid" alt="KIA Stinger">
                            <div class="mt-3">
                                <a class="btn btn-primary" href="#" role="button"><i class="bi bi-file-bar-graph-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-car-front-fill"></i></div>
                            <h2 class="fs-4 fw-bold">Audi RS6 C8</h2>
                            <img src="kia.jpg" class="img-fluid" alt="KIA Stinger">
                            <div class="mt-3">
                                <a class="btn btn-primary" href="#" role="button"><i class="bi bi-file-bar-graph-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-car-front-fill"></i></div>
                            <h2 class="fs-4 fw-bold">Volkswagen Arteon</h2>
                            <img src="kia.jpg" class="img-fluid" alt="KIA Stinger">
                            <div class="mt-3">
                                <a class="btn btn-primary" href="#" role="button"><i class="bi bi-file-bar-graph-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-1">
                <div class="mt-3">
                    <a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/rental/#" role="button">Powrót</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
<footer class="bg-dark text-white text-center py-4 fixed-bottom">
    <div class="container">
        &copy; 2024 CarRental - Wypożyczalnia Samochodów. Wszelkie prawa zastrzeżone.
    </div>
</footer>

    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
